.collegepage{
    background-color: #FFFA65;
}
.sidebar{
    margin-left: -11px;
    align-items: center;
    transition:  all ease-in-out 0.2s;
}
.bars{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}
.card-top{
    justify-content: center;
    align-items: center;
    display: flex;
    transition:  all ease-in-out 0.2s;
}
.card-img{
    border-radius: 100%;
    width: 50px;
}
.card-middle{
    align-items: center;
    gap: 15px;
    transition:  all ease-in-out 0.2s;
}
.card-items{
    align-items:center ;
    transition:  all ease-in-out 0.2s;
    color: black;
}
.card-items:hover{
    background-color: #5544AE;
    color: white;
}
.card-end{
    align-items: center;
    justify-content: center;
    transition:  all ease-in-out 0.2s;
}
.rightside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.collegecontent{
    margin-left: -50px;
    transition: ease-in-out 0.2s;
}
.nav{
    background-color: white;
}
.nav-item{
    background-color: white;
    font-weight: 600;
    border-radius: 9px 9px 0 0;
    margin-left: 8px;
}
.collegetab{
    display: flex;
    align-items: center;
}